@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #222;
    line-height: 1.6;
}

header {
    background-color: #b22222;
    color: white;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    width: 90%;
    margin: 30px auto;
}

section {
    margin-bottom: 30px;
}

article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

h2 {
    color: #b22222;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    font-size: 1rem;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 6px;
}


footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}